<!-- 
/*********************************************************************************/
* WEB422 – Assignment 05 *
I declare that this assignment is my own work in accordance with Seneca Academic Policy.
No part of this * assignment has been copied manually or electronically from any other source (including web sites) or * distributed to other students. *
* Name: Tareq Abdi Student ID: 123809196 Date: 28/07/2021 *
/********************************************************************************/
-->

<h1>Favourites</h1>
<p>
  The following is a list of your favourite songs from various artists.<br />
  Click the &nbsp;<mat-icon mat-list-icon>queue_music</mat-icon>&nbsp; icon to
  <strong>remove</strong> a song from your list
</p>

<br />
<mat-list *ngIf="favourites">
  <div *ngFor="let ob of favourites">
    <mat-list-item>
      <mat-icon mat-list-icon (click)="removeFromFavourites(ob.id)"
        >queue_music</mat-icon
      >
      <div mat-line>
        <mat-card>
          <mat-card-content
            ><strong>{{ ob.name }}</strong> -
            {{ (ob.duration_ms / 60000).toFixed(2) }}<br /><br />
            Artist(s):
            <div *ngFor="let art of ob.artists">
              <span
                ><a routerLink="/artist/{{ art.id }}">{{ art.name }}</a></span
              >
            </div>
            <br />

            Album:
            <a routerLink="/album/{{ ob.album.id }}"> {{ ob.album.name }}</a
            ><br />
            <div *ngIf="ob.preview_url">
              <br /><audio controls [src]="ob.preview_url"></audio>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-list-item>
    <br />
  </div>
</mat-list>
