<!-- 
/*********************************************************************************/
* WEB422 – Assignment 05 *
I declare that this assignment is my own work in accordance with Seneca Academic Policy.
No part of this * assignment has been copied manually or electronically from any other source (including web sites) or * distributed to other students. *
* Name: Tareq Abdi Student ID: 123809196 Date: 28/07/2021 *
/********************************************************************************/
-->

<div class="about-content">
  <mat-card
    ><mat-card-header>
      <div mat-card-avatar class="about-page-logo"></div>
      <mat-card-title>Tareq Abdi</mat-card-title>
      <mat-card-subtitle
        >Full Stack Developer</mat-card-subtitle
      > </mat-card-header
    ><mat-card-title>About the Developer</mat-card-title>
    <mat-card-content>
      <p>
        For my entire life up to now I have watched others perform magic, they
        were few, but fantastical and filled my heart with wonder.<br />
        Practice and study as you may, I was never able to recreate even simple
        cantrips that the local wizard tried to teach me. Distraught, I ran to
        the woods to a secret clearing to cry for a bit. That day something
        incredible happened, magic shot from my fingertips, and shortly after a
        man in a suit and tie walked up to me from the edge of the clearing and
        sat his briefcase down on a large flat rock that I had never seen
        sitting there before. “It seems we have some paperwork to go over,” he
        said with a smile and my life changed forever.
      </p>
    </mat-card-content>
  </mat-card>
</div>
